{% extends 'base.html' %}

{% block content %}

    <title>About</title>

    <div class="container-fluid">
        <h2 class="header my-3">About Smartnotes</h2>

        <h4 class="jumbotron text-start my-2">Writing is Impactful Learning</h4>

        <p class="text-start my-5">Everybody writes. As well as non-writers. Pupils write. Write when you want to learn something, even if you're doing it for an oral test." As a result, no one discusses writing in the context of short-form works such as blog posts or short stories.</p>

        <p class="text-start my-5">Writing is not something that comes after research, learning, or studying; rather, it is the medium through which all of this labor is accomplished. It's possible that this is the reason why we don't give much thought to the writing that we do on a daily basis, such as taking notes and drafting documents.</p>

        <p class="text-start my-5">It is essential to what we do, much like breathing, yet we don't give much thought to it since we do it so often. But while even the most effective breathing technique is unlikely to have much of an effect on our writing, any improvement in the way that we organize the writing that we do on a day-to-day basis, how we take notes of what we encounter and what we do with them, will make all the difference for the moment that we do face the blank page/screen – or rather, not have to face the problem of a blank screen again, as those who take thoughtful notes will never have to deal with the issue of a blank screen again</p>


    </div>
{% endblock %}